<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="noticia-source-name">{{ noticia.nombreCategoria }}</span>
      <div class="noticia-more" [hidden]="actionSheet">
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title>{{ noticia.titulo }}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="noticia.media_url" [src]="noticia.media_url"></ion-img>
  <ion-card-content>
    <p>
      {{ noticia.nota }}
    </p>
  </ion-card-content>
</ion-card>
