<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      FutbolRG - Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-slides *ngIf="storageService.favoritos.length === 0" [options]="sliderOpts">
    <ion-slide>
      <ion-label>No existen noticias guardadas en favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias [noticias]="storageService.favoritos"
    *ngIf="storageService.favoritos.length > 0"
    (noticiaSeleccionada)="verNoticia($event)"></app-noticias>

</ion-content>
