<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="noticiasPorCategorias( $event.detail.value )">
    <ion-segment-button mode="md" *ngFor="let categoria of categorias" [value]="categoria.nombre">
      <ion-label text-capitalize>{{ categoria.nombre }}</ion-label>
    </ion-segment-button>    
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <app-noticias [noticias]="noticias" (noticiaSeleccionada)="verNoticia($event)"></app-noticias>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
